<!-- Figura para los posts -->
<% if @posts %>
    <% unless @posts.empty? %>
        <h3>Posts:</h3>
        
        <%@posts.each do |post| %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= post.title %>
                        <a id="edit_post_btn" data-toggle="modal" data-target="#editModal" name="<%= post.id %>">
                        <span class = "glyphicon glyphicon-pencil">
                        </span>
                        </a>
                        <a id="delete_post_btn"name="<%= post.id %>" value="<%= post.id %>">
                        <span class = "glyphicon glyphicon-trash">
                        </span>
                        </a>
                    </h3>    
                </div>

                <div class="panel-body" id ="body_<%= post.id %>"><%= post.body %>
                </div>
        <!-- href="/post/edit/<%= post.id %>" -->
            </div>
        <% end %>
       
    <% else %>
        <p>No hay ningún post</p>
    <% end %>
<% end %>


<!-- Modal -->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="edit_post_modle">

      <%= erb :editpost, layout: true %>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

  </div>
</div>
